In [178]:
from datascience import *
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib as plt
%matplotlib inline

import csv
import zipfile
from pathlib import Path
import re

In [179]:
sampled = pd.read_csv('cp113.csv')
data = Table().from_df(sampled, keep_index=False)
pd_data = data.to_df()
pd_data = pd_data.drop(columns=['classwkr', 'classwkrd', 'empstatd', 'inctot'])

In [180]:
def replace_column(lst, data, column, new_value):
    return data[column].replace(lst, new_value, inplace=True)

In [181]:
rangeLst = [np.arange(170, 490+1), np.arange(570, 960+1), np.arange(770, 771), 
           np.arange(1070, 3990+1), np.arange(4070, 4590+1), np.arange(4670, 5790+1), 
           np.arange(6070, 6390+1), np.arange(6470, 6780+1), np.arange(6870, 6990+1), 
           np.arange(7070, 7190+1), np.arange(7270, 7570+1), np.arange(7580, 7790+1),
           np.arange(7860, 7890+1), np.arange(7970, 8470+1), np.arange(8560, 8590+1), 
           np.arange(8660, 8690+1), np.arange(8770, 9290+1), np.arange(9370, 9590+1), 
           np.arange(9670, 9870+1)]
occLst = [np.arange(10, 430+1), np.arange(500, 741), np.arange(800, 950+1), 
         np.arange(1000, 1240+1), np.arange(1300, 1560+1), np.arange(1600, 1965+1),
         np.arange(2000, 2060+1), np.arange(2100, 2160+1), np.arange(2200, 2550+1), 
         np.arange(2600, 2921), np.arange(3000, 3541), np.arange(3600,3656),
         np.arange(3700,3955+1), np.arange(4000, 4151), np.arange(4200,4251), 
         np.arange(4300,4651), np.arange(4700,4966), np.arange(5000, 5941), 
         np.arange(6000, 6131), np.arange(6200, 6941), np.arange(7000, 7631), 
         np.arange(7700, 8966), np.arange(9000,9751), np.arange(9800, 9831)]
povertyLst = [np.arange(0, 101), np.arange(100, 201), np.arange(200, 601)]

In [182]:
data_copy = pd_data.copy()

In [183]:
j=0
for i in rangeLst:
    replace_column(i, data_copy, 'ind', j)
    j +=1
k=0
for i in occLst:
    replace_column(i, data_copy, 'occ', k)
    k+=1
m=0
for i in povertyLst:
    replace_column(i, data_copy, 'poverty', m)
    m +=1

In [184]:
occupation_dict = {
    0: 'Management, Business',
    1: 'Business Operations',
    2: 'Financial Specialists', 
    3: 'Computer Operations',
    4: 'Architecture & Engineering',
    5: 'Life & Social Sciences',
    6: 'Community & Social Services',
    7: 'Legal Occupations' ,
    8: 'Education & Training',
    9: 'Arts, Design & Entertainment',
    10: 'Healthcare Practitioners',
    11: 'Healthcare Support',
    12: 'Protective Services',
    13: 'Food Preparation', 
    14: 'Building & Grounds Cleaning',
    15: 'Personal Care & Service', 
    16: 'Sales',
    17: 'Office & Administrative Support', 
    18: 'Farming, Fishing',
    19: 'Construction',
    20: 'Installation',
    21: 'Production',
    22: 'Transportation of Materials',
    23: 'Military Specific '
}

industry_dict = {
    0: 'Agriculture, Hunting, Forestry',
    1: 'Transportation, Warehouse',
    2: 'Construction',
    3: 'Manufacturing',
    4: 'Wholesale Trade',
    5: 'Retail Trade',
    6: 'Transportation, Warehouse',
    7: 'Information',
    8: 'Finance and Insurance',
    9: 'Real Estate, Rental, Leasing',
    10: 'Company Management',
    11: 'Waste Management',
    12: 'Educational Services',
    13: 'Health Care', 
    14: 'Arts & Recreation', 
    15: 'Accomodation and Food Services', 
    16: 'Other services', 
    17: 'Public Administration',
    18: 'Active Duty Military'
}

hispanic_dict = {'Puerto Rican': 'Hispanic', 'Mexican': 'Hispanic', 'Cuban': 
                 'Hispanic',  'Other hispan': 'Hispanic', 'Not Hispanic': 'Not hispanic'}

poverty_dict = {
        0: 'Poverty',
        1: 'Near Poverty',
        2: 'Non-Poverty',
    }

race_dict = {'Other Asian or Pacific Islander': 'Asian/Pacific Islander', 
            'Chinese': 'Asian/Pacific Islander', 'Japanese': 'Asian/Pacific Islander',
            'Two major races': 'Two or more races', 'Three or more major races': 'Two or more races',
            'Other race, nec': 'Other', 'Black/African American/Negro': 'African American'}

education_dict = {'Grade 12': 'High School', '4 years of college': 'College',
                  '5+ years of college': 'Graduate', 'Grade 5, 6, 7, or 8': 'No HS',
                  'Grade 11': 'No HS', '2 years of college': 'Some college', 
                 'N/A or no schooling': 'No HS', 'Nursery school to grade 4':'No HS',
                 'Grade 9': 'No HS', 'Grade 10':'No HS', '1 year of college': 'Some college'}

In [185]:
data_copy.replace({'occ': occupation_dict, 'ind': industry_dict, 'poverty': poverty_dict,
                          'hispan': hispanic_dict, 'race': race_dict, 'educ': education_dict}, inplace=True)

In [186]:
data_copy.replace(to_replace='90 (90+ in 1980 and 1990)', value=90, inplace=True)

In [187]:
cleaned_data = data_copy.to_csv('cleanedData.csv', index=None, header=True)

In [188]:
original_data =  pd.read_csv('113Adata.csv')

#almost all missing values for years in 2017, so drop that column
original_data = original_data.drop(columns = ['wkswork1'])

#filter out missing values (NaNs) to produce clean dataframe
original_data = original_data.dropna()

In [189]:
j=0
for i in rangeLst:
    replace_column(i, original_data, 'ind', j)
    j +=1
k=0
for i in occLst:
    replace_column(i, original_data, 'occ', k)
    k+=1
m=0
for i in povertyLst:
    replace_column(i, original_data, 'poverty', m)
    m +=1

In [190]:
original_data.replace({'occ': occupation_dict, 'ind': industry_dict, 'poverty': poverty_dict,
                          'hispan': hispanic_dict, 'race': race_dict, 'educ': education_dict}, inplace=True)

In [191]:
original_data.replace(to_replace='90 (90+ in 1980 and 1990)', value=90, inplace=True)
original_data.to_csv('originalData.csv', index=None, header=True)

In [192]:
seven_table = original_data[original_data['year'] == 2007]
seventeen_table = original_data[original_data['year'] == 2017]

In [163]:
def takeTableSample(data, column, feature, year):
    data = data[data['year'] == year]
    percentage = data[column].value_counts(normalize=True, sort=True)[feature]
    sample_size = 160000 * percentage
    data = data[data[column] == feature]
    return data.sample(int(sample_size))

In [164]:
def sampledTable(data, column, year):
    sample = pd.DataFrame()
    for feature in data[data['year'] == year][column].value_counts(normalize=True, sort=True).index:
        new_sample = takeTableSample(data, column, feature, year)
        sample = pd.concat([sample, new_sample])
    return sample

In [165]:
first_try = sampledTable(original_data, 'occ', 2007)

In [169]:
prop_sample = first_try['occ'].value_counts(normalize=True)

In [167]:
len(seven_table), len(first_try)

(178339, 159988)

In [170]:
prop_seven = seven_table['occ'].value_counts(normalize=True)

In [176]:
np.round(prop_sample.values - prop_seven.values)

array([ 0.,  0.,  0.,  0., -0.,  0., -0., -0., -0., -0., -0., -0., -0.,
       -0., -0., -0., -0.,  0., -0., -0., -0., -0., -0., -0.])

In [177]:
len(first_try) - 160000

-12

# Scratch work for final data analysis

In [ ]:
p = sns.countplot(data=occupation_seven,
                  x = 'ind',
                  order=occupation_seven['ind'].value_counts(sort=True).index[0:5])
p.set_xticklabels(p.get_xticklabels(), rotation=45, ha='right')
p.set_title('Top 5 Industries in 2007');
p.set_xlabel('Industry');

In [ ]:
ax = sns.countplot(data=occupation_seventeen,
                  x = 'ind',
                   order=occupation_seventeen['ind'].value_counts(sort=True).index[0:5])
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha='right')
ax.set_title('Top 5 Industries in 2017');
ax.set_xlabel('Industries');