In [1]:
import pandas as pd
from stratified_sampling import sampledTable

In [2]:
data = pd.read_csv('fulldata_v2.csv')
data.head()

,Year,State,County,City,Ownership Status,Household Income,Foodstamp Recipient,Age,Race,Hispanic,Education Status,Employment Status,Part of Labor Force,Occupation,Industry,Type of Worker,Employment Sector,Hours worked per week,Pre-Tax Wages,Poverty Status
0,2007,California,"El Centro, CA",Not in identifiable city (or size group),Rented,15000,No,32,White,Hispanic,No HS,Employed,"Yes, in the labor force","Farming, Fishing","Agriculture, Hunting, Forestry",Works for wages,non-profit,40,15000,Near Poverty
1,2007,California,Not in identifiable area,Not in identifiable city (or size group),Owned or being bought (loan),72000,No,52,White,Not hispanic,Graduate,Employed,"Yes, in the labor force",Healthcare Practitioners,Health Care,Works for wages,private,45,70000,Non-Poverty
2,2007,California,Not in identifiable area,Not in identifiable city (or size group),Owned or being bought (loan),72000,No,17,White,Not hispanic,No HS,Employed,"Yes, in the labor force",Transportation of Materials,Retail Trade,Works for wages,private,20,2000,Non-Poverty
3,2007,California,"Sacramento--Roseville--Arden-Arcade, CA",Not in identifiable city (or size group),Owned or being bought (loan),147800,No,71,White,Not hispanic,Graduate,Employed,"Yes, in the labor force",Life & Social Sciences,Company Management,Works for wages,non-profit,25,86000,Non-Poverty
4,2007,California,"San Francisco-Oakland-Hayward, CA",Not in identifiable city (or size group),Rented,52000,No,34,Two or more races,Hispanic,High School,Employed,"Yes, in the labor force",Office & Administrative Support,Finance and Insurance,Works for wages,private,40,52000,Non-Poverty

In [3]:
industry_2007 = sampledTable(data, 'Industry', 2007)
industry_2017 = sampledTable(data, 'Industry', 2017)
occupation_2007 = sampledTable(data, 'Occupation', 2007)
occupation_2017 = sampledTable(data, 'Occupation', 2017)
poverty_2007 = sampledTable(data, 'Poverty Status', 2007)
poverty_2017 = sampledTable(data, 'Poverty Status', 2017)
education_2007 = sampledTable(data, 'Education Status', 2007)
education_2017 = sampledTable(data, 'Education Status', 2017)
emp_sector_2007 = sampledTable(data, 'Employment Sector', 2007)
emp_sector_2017 = sampledTable(data, 'Employment Sector', 2017)

In [8]:
industry_2007.to_csv('industry_2007.csv', index = False)
industry_2017.to_csv('industry_2017.csv', index = False)
occupation_2007.to_csv('occupation_2007.csv', index = False)
occupation_2017.to_csv('occupation_2017.csv', index = False)
poverty_2007.to_csv('poverty_2007.csv', index = False)
poverty_2017.to_csv('poverty_2017.csv', index = False)
education_2007.to_csv('education_2007.csv', index = False)
education_2017.to_csv('education_2017.csv', index = False)
emp_sector_2007.to_csv('emp_sector_2007.csv', index = False)
emp_sector_2017.to_csv('emp_sector_2017.csv', index = False)