In [84]:
from datascience import *
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib as plt
%matplotlib inline

import csv
import zipfile
from pathlib import Path
import re

In [85]:
data = pd.read_csv('fullData.csv')
data.columns

Index(['Year', 'Household Weight', 'State', 'County', 'City',
       'Ownership Status', 'Household Income', 'Foodstamp Recipient', 'Age',
       'Race', 'Hispanic', 'Education Status', 'Employment Status',
       'Part of Labor Force', 'Occupation', 'Industry', 'Type of Worker',
       'Employment Sector', 'Hours worked per week', 'Personal Pre-Tax Income',
       'Pre-Tax Income', 'Pre-Tax Wages', 'Poverty Status'],
      dtype='object')

In [86]:
data['Type of Worker'].value_counts()

Works for wages    320290
Self-employed       46889
Name: Type of Worker, dtype: int64

In [87]:
def takeTableSample(data, column, feature, year):
    data = data[data['Year'] == year]
    percentage = data[column].value_counts(normalize=True, sort=True)[feature]
    sample_size = 160000 * percentage
    data = data[data[column] == feature]
    return data.sample(int(round(sample_size)))

In [88]:
def sampledTable(data, column, year):
    sample = pd.DataFrame()
    for feature in data[data['Year'] == year][column].value_counts(normalize=True, sort=True).index:
        new_sample = takeTableSample(data, column, feature, year)
        sample = pd.concat([sample, new_sample])
    return sample

In [89]:
data.columns

Index(['Year', 'Household Weight', 'State', 'County', 'City',
       'Ownership Status', 'Household Income', 'Foodstamp Recipient', 'Age',
       'Race', 'Hispanic', 'Education Status', 'Employment Status',
       'Part of Labor Force', 'Occupation', 'Industry', 'Type of Worker',
       'Employment Sector', 'Hours worked per week', 'Personal Pre-Tax Income',
       'Pre-Tax Income', 'Pre-Tax Wages', 'Poverty Status'],
      dtype='object')

In [90]:
seven = data[data['Year'] == 2007]
seventeen = data[data['Year'] == 2017]

In [91]:
occupation_sample_seven = sampledTable(data, 'Occupation', 2007)
occupation_sample_seventeen = sampledTable(data, 'Occupation', 2017)
len(occupation_sample_seven), len(occupation_sample_seventeen)

(160002, 160001)

In [104]:
occupation_sample_seven.replace(to_replace='99 (Topcode)', value=90, inplace=True)
occupation_sample_seventeen.replace(to_replace='99 (Topcode)', value=90, inplace=True)

In [106]:
occupation_sample_seven.to_csv('occupation_sample_seven.csv', index=False, header=True)

In [107]:
occupation_sample_seventeen.to_csv('occupation_sample_seventeen.csv', index=False, header=True)

In [95]:
education_sample_seven = sampledTable(data, 'Education Status', 2007)
education_sample_seventeen = sampledTable(data, 'Education Status', 2017)
len(education_sample_seven), len(education_sample_seventeen)

(160000, 160000)

In [100]:
education_sample_seven.replace(to_replace='99 (Topcode)', value=90, inplace=True)
education_sample_seventeen.replace(to_replace='99 (Topcode)', value=90, inplace=True)

In [101]:
education_sample_seven.to_csv('education_seven.csv', index=False, header=True)
education_sample_seventeen.to_csv('education_seventeen.csv', index=False, header=True)

In [97]:
education_sample_seven.replace(to_replace='99 (Topcode)', value=90, inplace=True)
education_sample_seventeen.replace(to_replace='99 (Topcode)', value=90, inplace=True)

In [102]:
poverty_sample_seven = sampledTable(data, 'Poverty Status', 2007)
poverty_sample_seventeen = sampledTable(data, 'Poverty Status', 2017)
len(poverty_sample_seven), len(poverty_sample_seventeen)

(160000, 160000)

In [103]:
poverty_sample_seven.to_csv('poverty_seven.csv', index=False, header=True)
poverty_sample_seventeen.to_csv('poverty_seventeen.csv', index=False, header=True)