In [1]:
from datascience import *
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib as plt
%matplotlib inline

import csv
import zipfile
from pathlib import Path
import re

In [2]:
data = pd.read_csv('originalData.csv')

In [3]:
def takeTableSample(data, column, feature, year):
    data = data[data['year'] == year]
    percentage = data[column].value_counts(normalize=True, sort=True)[feature]
    sample_size = 160000 * percentage
    data = data[data[column] == feature]
    return data.sample(int(sample_size))

In [4]:
def sampledTable(data, column, year):
    sample = pd.DataFrame()
    for feature in data[data['year'] == year][column].value_counts(normalize=True, sort=True).index:
        new_sample = takeTableSample(data, column, feature, year)
        sample = pd.concat([sample, new_sample])
    return sample

In [5]:
seven = data[data['year'] == 2007]
seventeen = data[data['year'] == 2017]

In [6]:
seven.head()

,year,hhwt,statefip,countyfip,met2013,city,ownershp,hhincome,foodstmp,perwt,...,ind,classwkr,classwkrd,uhrswork,inctot,ftotinc,incwage,poverty,pwcounty,pwmet13
0,2007,266,California,25,"El Centro, CA",Not in identifiable city (or size group),Rented,15000,No,270,...,"Agriculture, Hunting, Forestry",Works for wages,Wage/salary at non-profit,40,15000,15000,15000,Near Poverty,25,"El Centro, CA"
1,2007,67,California,0,Not in identifiable area,Not in identifiable city (or size group),Owned or being bought (loan),72000,No,66,...,Health Care,Works for wages,"Wage/salary, private",45,70000,72000,70000,Non-Poverty,0,Not in identifiable area
2,2007,67,California,0,Not in identifiable area,Not in identifiable city (or size group),Owned or being bought (loan),72000,No,86,...,Retail Trade,Works for wages,"Wage/salary, private",20,2000,72000,2000,Non-Poverty,0,Not in identifiable area
3,2007,91,California,67,"Sacramento--Roseville--Arden-Arcade, CA",Not in identifiable city (or size group),Owned or being bought (loan),147800,No,92,...,Company Management,Works for wages,Wage/salary at non-profit,25,147800,147800,86000,Non-Poverty,67,"Sacramento--Roseville--Arden-Arcade, CA"
4,2007,193,California,1,"San Francisco-Oakland-Hayward, CA",Not in identifiable city (or size group),Rented,52000,No,193,...,Finance and Insurance,Works for wages,"Wage/salary, private",40,52000,52000,52000,Non-Poverty,1,"San Francisco-Oakland-Hayward, CA"

In [7]:
seventeen.head()

,year,hhwt,statefip,countyfip,met2013,city,ownershp,hhincome,foodstmp,perwt,...,ind,classwkr,classwkrd,uhrswork,inctot,ftotinc,incwage,poverty,pwcounty,pwmet13
178339,2017,59,California,67,"Sacramento--Roseville--Arden-Arcade, CA",Not in identifiable city (or size group),Rented,47000,Yes,59,...,"Transportation, Warehouse",Self-employed,"Self-employed, incorporated",48,40000,47000,40000,Non-Poverty,113,"Sacramento--Roseville--Arden-Arcade, CA"
178340,2017,59,California,67,"Sacramento--Roseville--Arden-Arcade, CA",Not in identifiable city (or size group),Rented,47000,Yes,57,...,Health Care,Works for wages,Federal govt employee,24,4000,47000,4000,Non-Poverty,67,"Sacramento--Roseville--Arden-Arcade, CA"
178341,2017,74,California,1,"San Francisco-Oakland-Hayward, CA",Not in identifiable city (or size group),Owned or being bought (loan),130500,No,75,...,Company Management,Works for wages,"Wage/salary, private",55,130500,130500,130000,Non-Poverty,85,"San Jose-Sunnyvale-Santa Clara, CA"
178342,2017,75,California,67,"Sacramento--Roseville--Arden-Arcade, CA","Elk Grove, CA",Owned or being bought (loan),104000,No,74,...,Public Administration,Works for wages,Federal govt employee,65,58000,104000,58000,Non-Poverty,67,"Sacramento--Roseville--Arden-Arcade, CA"
178343,2017,75,California,67,"Sacramento--Roseville--Arden-Arcade, CA","Elk Grove, CA",Owned or being bought (loan),104000,No,78,...,Other services,Works for wages,"Wage/salary, private",40,38000,104000,38000,Non-Poverty,67,"Sacramento--Roseville--Arden-Arcade, CA"

In [ ]:
sampledTable()